.post-feedback {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.post-feedback-left {
    margin-top: -2px;
}

applause-button .count-container {
    top: 5px !important;
    right: -36px;
}