.post-feedback {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-feedback-left, .post-feedback-center, .post-feedback-right {
    margin-top: 20px;
}

@media (min-width: 1000px) {
    .post-feedback {
        flex-direction: row;
        justify-content: space-between;
    }
    .post-feedback-left, .post-feedback-center, .post-feedback-right {
        margin-top: 0px;
    }
}

.post-feedback-center {
    text-align: center;
}

.post-feedback-left {
    margin-top: -2px;
}

applause-button .count-container {
    top: 6px !important;
    right: -36px;
}