<div class="post-feedback">
    <div class="post-feedback-left">
        {% include applause-button.html post=include.post %}
    </div>
    <div class="post-feedback-center">
        <a target="_blank" title="Send me a message" aria-label="Send me a message"
            href="https://us1.list-manage.com/contact-form?u=07436d3950febf738c524d3b0&form_id=a28812a0c99d86181fa0b251ae05cc1d">
            Send me a message
        </a>
    </div>
    <div class="post-feedback-right">
        {% include share-buttons.html %}
    </div>
</div>